body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; 
    box-sizing: border-box;  
}

.cabezera{ 
    background: #F01A5B;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    position: fixed;
    display: flex;
    padding: 10px;
    box-shadow: 2px 2px 5px #999;
}
.logo {
    color: white;
    text-decoration: none;
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
}
.dere{
    width: 50%;
    align-items: center;
    display: flex;
}

.izq{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: end;
}
.izq a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.regis{
    background: white;
    border-radius: 5px;
}
.regis b {
    color: #953CF4;
}
.container {
    padding-top: 80px;
    display: grid;
    place-items: center;
}
.grip{
    display: grid;
    place-items: center;
}
.opciones{
    width: 500px;
    height: auto;
    margin: 20px;
    border-radius: 5px;
    background: linear-gradient(-45deg, #f0608b 0%, #F01A5B 100%);
    
}
.content{
    width: 100%;
}
.texto{
    word-wrap: break-word;
    width: 500px;
    height: auto;
}
h3 {
    font-size: 20px;
    color: #5C5C5C;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.opciones h2 {
    font-size: 30px;
    color: white;
    text-align: start;
    padding: 10PX;
    word-wrap: break-word;
}
.opciones p{
    color: white;
    margin: 10px;
    font-size: 20px;
}
.opciones a{
    color: #F01A5B;
    background: white;
    text-decoration: none;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;

}
.info-form{
    margin-top: 100px;
    display: grid;
    place-items: center;
}
.info-form form{
    background: rgb(211, 211, 211);
    width: 500px;
    height: auto;
    border-radius: 5px;
    
}
.info-form form input{
    display: block;
    padding: 15px;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border-style: none;
   outline-color: #8423ec;
    
    
}
.info-form form p{
    color: rgb(53, 53, 53);
    margin-left: 15px;
}
.info-form form h1 {
    margin-left: 15px;
}
.info-form form a{
    background: #8423ec;
    color: white;
    border-radius: 5px;
    padding: 15px;
    text-decoration: none;
    margin: auto;
    display: block;
    width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
form p {
    margin-left: 11px;
    color: #005AB3;
}
form {
	box-sizing: border-box;
}
form input{
	width: 95%;
	display: block;
	margin: auto;
	box-sizing: border-box;
	margin-top: px;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #f0608b;
	outline-color: #F01A5B;
}
form button{
	width: 95%;
	box-sizing: border-box;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
	color: white;
	border-style: none;
	cursor: pointer;
    background: linear-gradient(-45deg, #F01A5B 0%, #f0608b 100%);
}
.span{
	font-size: 10px;
	margin-left: 30px; 
	position: relative;
	display: inline;
	top: 8px;
	background: white; 
	color: white;
	
}
.span span{
	color: #7E7E7E;
}
.boton a p {
	color: white;
}
form{
    width: 500px;
}
.caja-form{
    display: grid;
    place-items: center;
}
.metodo-grip{
    display: grid;
    place-items: center;
}
.metodo{
    margin-top: 100px;
    width: 500px;
    height: auto;
    background: #40a340;
    border-radius: 5px;
    
    
}
.metodo h2{
    color: white;
    margin: 10px;
}
.btn-asosi{
    color: #F01A5B ; 
    background: white;
    text-decoration: none;
    display: block;
    margin: auto;
    width: 200px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px){
  .texto{
    width: 95%;
  }
    .content{
    width: 100%;
   }
   .container, .grip{
    width: 100%;
   }

    .opciones{
        width: 85%;

    }
    .info-form form {
        width: 95%;
    }
    .formulario{
        width: 95%;
    }
    .metodo{
        width: 95%;
    }
    #veri{
        width: 150px;
        fill: white;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 448px){
    .izq{
        display: none;
    }
    .dere{
        width: 100%;
    }
}